@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;800&display=swap');

:root {
  --caribbean-current: #0F7173;
  --tangerine: #F58A07;
  --oxford-blue: #0A122A;
  --seaasalt: #FBFAF8;
  --bone: #E7DECD;

  --spacing-s: 0.5rem;
  --spacing: 1rem;
  --spacing-l: 2rem;
  --spacing-xl: 3rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: var(--seaasalt);
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
}

h1, h2, h3, h4, h5, p {
  margin-bottom: var(--spacing);
}

h1 {
  font-size: 5.61rem;
  line-height: 1;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small, .text_small {
  font-size: 0.75rem;
}

p {
  line-height: 1.75;
}

.primary {
  color: var(--caribbean-current);
}

.secondary {
  color: var(--tangerine);
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
}

.jumbotron {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.jumbotronH1 {
  color: var(--caribbean-current);
}

.jumbotronH1 span:last-child {
  display: none;
}

.jumbotronH1 span:first-child {
  display: block;
}

.aboutP {
  width: 100%;
  margin-bottom: var(--spacing-l);
}

.links {
  display: flex;
  gap: var(--spacing);
}

.getInTouch, .gitHub {
  color: var(--tangerine);
  border: solid 1px var(--tangerine);
  border-radius: .25em;
  position: relative;
}

.getInTouch {
  padding: .75em 1em;
}

.gitHub {
  width: 45.2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.getInTouch:after, .gitHub:after {
  content: '';
  display: block;
  opacity: 0.2;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--tangerine);
  transition: width ease-in-out .1s;
}

.getInTouch:hover:after, .gitHub:hover:after {
  width: 100%;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 7.478rem;
  }

  .container {
    width: 80%;
  }

  .aboutP {
    width: 40%;
  }

  .jumbotronH1 span:first-child {
    display: none;
  }

  .jumbotronH1 span:last-child {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 9.969rem;
  }
}
