.primary {
  color: var(--caribbean-current);
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url("../public/wave.svg") no-repeat bottom/cover;
  top: 10px;
}

.h1 {
  color: var(--caribbean-current);
}

.h1 span:first-child {
  display: block;
}

.h1 span:last-child {
  display: none;
}

.h3 {
  color: var(--tangerine);
}

.h4 {
  margin-bottom: var(--spacing);
}

.h4 span {
  color: var(--caribbean-current);
}

.p {
  width: 100%;
  margin-bottom: var(--spacing-l);
}

.links, .projectLinks {
  display: flex;
  gap: var(--spacing);
}

.getInTouch, .gitHub {
  color: var(--tangerine);
  border: solid 1px var(--tangerine);
  border-radius: var(--spacing);
  position: relative;
}

.getInTouch {
  padding: .75em 1em;
}

.gitHub {
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.getInTouch:after,
.gitHub:after {
  content: '';
  display: block;
  opacity: 0.2;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--tangerine);
  transition: width ease-in-out .1s;
  border-radius: var(--spacing);
}

.getInTouch:hover:after,
.gitHub:hover:after {
  width: 100%;
}

.main {
  background: var(--bone);
  padding: var(--spacing-xl) 0;
  position: relative;
}

.ul, .tags {
  list-style: none;
}

.ul .li:nth-child(even),
.ul .liWithImage:nth-child(even) {
  text-align: right;
}

.ul .li:nth-child(even) .projectLinks,
.ul .li:nth-child(even) .tags,
.ul .liWithImage:nth-child(even) .projectLinks,
.ul .liWithImage:nth-child(even) .tags {
  justify-content: end;
}

.li, .liWithImage {
  margin-bottom: var(--spacing-xl);
}

.img {
  height: auto;
  width: 100%;
  border-radius: var(--spacing);
  margin-bottom: var(--spacing);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
  color: var(--caribbean-current);
  margin: var(--spacing) 0;
}

.a {
  color: var(--tangerine);
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: var(--spacing-xs)
}

.a:hover {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .container {
    width: 80%;
    max-width: 1000px;
  }

  .p {
    width: 40%;
  }

  .h1 span:first-child {
    display: none;
  }

  .h1 span:last-child {
    display: block;
  }

  .ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-l)
  }

  .liWithImage {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column: 1 / 4;
    margin-bottom: 0;
  }

  .liWithImage .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: 1 / 1 / 1 / 7;
  }

  .li {
    background: var(--bone-dark);
    padding: var(--spacing);
    border-radius: var(--spacing);
  }

  .ul .li:nth-child(even) {
    text-align: left;
  }

  .ul .li:nth-child(even) .projectLinks,
  .ul .li:nth-child(even) .tags {
    justify-content: start;
  }

  .liWithImage:nth-child(even) .info {
    grid-area: 1 / 5 / 1 / 11;
  }

  .liWithImage p {
    margin: 0;
    padding: var(--spacing);
    border-radius: var(--spacing);
    background: var(--bone-dark);
  }

  .img {
    grid-area: 1 / 5 / 1 / 11;
  }

  .liWithImage:nth-child(even) .img {
    grid-area: 1 / 1 / 1 / 7;
  }
}
